---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "このサイトとぼうろについて";
const identity = {
  firstName: "サラ",
  country: "カナダ",
  occupation: "技術ライター",
  hobbies: ["写真", "バードウォッチング", "野球"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "ドキュメントの執筆"];
const happy = true;
const finished = true;
const goal = 3;
const skillColor = "navy";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>この未熟ながら素晴らしいサイトについて</h2>
</BaseLayout>
<p>このサイトは、<a href="https://docs.astro.build/ja/tutorial/0-introduction/">Astroのチュートリアル</a>を進めることで完成しました。</p>

<p>SNS以外で自分の言葉をネットに上げられるなんて！！！！</p>
<br>
<p>「HTML」って何？？？</p>
<p>そんな状態から、なんとかここまで漕ぎ着けることができました！</p>

<ul>
  <li>無料にこだわる</li>
  <br>

<li>なるべく自分の手で</li>
<br>
<li>わからなくても諦めずに調べる</li>
<br>
</ul>

<p>そんなことを自分で決めて、作り始めたサイトです。</p>

<p>未熟なのは当然、承知の上で</p>
<p>あえて言わせていただきましょう。</p>

<p><strong>この素晴らしいサイトへようこそ！</strong></p>
<br>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
         <style define:vars={{skillColor}}>
         h1 {
          color: purple;
          font-size: 4rem;
         }
         .skill {
          color: var(--skillColor);
         font-weight: bold;
          }
     </style>
	</head>
	<body>

           <h2>このサイトを作るために活用させてもらっているサービス</h2>

           <p>このサイトは無料で作成しております。</p>
           <p>サイトを作成するために使わせてもらっているサービスについて紹介します。</p>

           <p>まずはじめに、先に紹介したAstro。</p>
           <a href="https://docs.astro.build/ja/tutorial/0-introduction/">Astro</a>
           
</body>
	<br>
</html>
<p>次に、このサイトを作成するために使用しているエディタです。</p>
<p>エディタは、「VSCODE」というものを使っています。</p>
<a href="https://code.visualstudio.com/">VSCODE（ビジュアルスタジオコード）</a>
<p>このVSCODEでコード（プログラム！！！）を書いています。</p>
<br>
<p>そして、GitHubというサービスも使っています。</p>
<a href="https://github.com/">GitHb</a>
<p>VSCODEで書いたコードを保管（？）し、ネットに上げるための処理をします。</p>
<p>※全てにおいて言えますが、</p>
<p>正直私自身、あまり仕組みを理解していません汗</p>
<br>
<p>最後に、Cloud Flareです。</p>
<a href="https://www.cloudflare.com/ja-jp/">Cloud Flare</a>
<p>先のGitHubに送ったコードが、このCloud Flareでネット上に公開されます。</p>
<p>なんとなく、、、、、</p>
<p>そのように理解しています汗汗</p>
<br>
<p>もうひとつ、、、。</p>
<p>このサイトは「HTML」という言語で作られています。</p>
<p>ただ、、、</p>
<p>残念ながら、私はそのHTMLというものを理解していません。</p>
<br>
<p>そこで、HTMLの教科書として、以下のサイトを参考にさせてもらっています。</p>
<p>（めっちゃくちゃわかりやすい！！！）</p>
<a href="https://creatorquest.jp/lessons/html/">CREATOR QUEST</a>
<p>このサイトの「HTML入門」にいつもお世話になっています。</p>
<br>
<h2>私について</h2>
<p>50歳になってはじめて情報発信というものを知り、</p>
<p>SNSやnoteなどで、</p>
<ul>
  <li>自分が考えていること</li>
  <li>自分が学んだこと</li>
  <li>自分がやってみたこと</li>
</ul>
<p>を発信しています。</p>
<br>
<p>50歳を超えて</p>
<p>「もう一回、燃えるような人生を生きよう」</p>
<p>なんて思っているオッサンです。</p>
<br>
<p>私について、ここでゴニョゴニョ語らず、</p>
<p>この自己紹介noteを紹介させてもらいます。</p>
<a href="https://note.com/bouro_x/n/nb44aa501bfcf">ぼうろの自己紹介note</a>
<br>
<p>50歳を超えて、やっと本気で人生を楽しもうと思った。</p>
<p>そんなオッサンの記録を、このサイトでは綴っていきます。</p>

 <script>
    import "../scripts/menu.js";
  </script>
