---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "挑戦の軌跡";

---
<BaseLayout pageTitle={pageTitle}>
  <h2>ここが私の挑戦の記録保管庫です</h2>
</BaseLayout>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <p>ここには、私が人生をメンテナンスしていく記録を残していきます。</p>
     <ul>
      {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
     </ul>
    
     <script>
	 import "../scripts/menu.js";
  </script>
	</body>
</html>
